
<div class="container">
  <div class="form-group">
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Función</th>
        <th scope="col">¿Qué quieres hacer?</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of this.employees; index as i">
        <td>{{ employee.fullName }}</td>
        <td>{{ employee.functionEmployee }}</td>
        <td> <button class="btn btn-sm btn-outline-primary mr-2"  (click)="updateEmployee(employee); open(content)"> Modificar</button>
          <button class="btn btn-sm btn-outline-dark mr-2"  (click)="deleteEmployee(employee.id)"> Borrar</button>
        </td>
      </tr>
      </tbody>
    </table>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
  </div>
  <div class="modal-body">
    
<div class="container">
  <div class="form-group">
    <form [formGroup]="employeForm">

    <br>
    <label>
      Datos empleado
    </label>
    <input class="form-control" type="text" formControlName="fullName" placeholder="Nombre completo">
    <br>
    <input class="form-control" type="text" formControlName="functionEmployee" placeholder="Función">
  </form>

  </div>
  <br>
</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-warning" (click)="c('Save click')">Salir</button>
    <button type="button" class="btn btn-outline-success" (click)="c('Save click') ; addEmployee()">Guardar</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-success" (click)="open(content); clearForm()">Nuevo empleado</button>
